/* Style Sheet/Layout 2 */

/* Style the top Large Header, centered*/
    .header {
        padding: 20px;
        text-align: center;
        border: 3px solid black;
        margin: 10px;
    }


/* Creating the 2 panels, content and sideBar */
    .column{    
        padding: 20px;
        height: 300px;
        box-sizing: border-box;
    }
    .column.content {
    float: left;
    width: 70%;
    border: 3px solid black;
    margin: 10px;
    margin-right: 0px;
    }
    .p{
        
    }

    .column.sideBar {
    float: right;
    width: 25%;
    border: 3px solid black;
    margin: 10px;
    margin-left: 0px;
    }

    /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }


/* navBar  */
  .navBar {
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto; /* maybe change  */
    border: 3px solid black;
    margin: 10px;
    margin-bottom: 5px;
  } 
    .navBar a:hover {
    background-color: #ffffff;
    color: rgb(112, 112, 112);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  .navBar li a {
    display: block;
    padding: 8px 16px;
  }

/* Footer */
  .footer {
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
  }